<%=image_tag @profile.get_image %>

<div class="name_caption">
  <%= @profile.get_name %>
</div>

<div class="profile_caption">
  <%= @profile.get_login %>
</div>

<div class="email">
  <a href="mailto:<%= @profile.get_email %>"><%= @profile.get_email %></a>
</div>

<div>
  <%=  @profile.get_join_date.strftime("%B")%>
</div>



<div class="repository">>
  <ul>
  <% repos = @profile.get_repository
  repos.each do |a| %>
    <li><%= a %></li>
  <% end %>

  </ul>
</div>


<div class="update_at" >
  <ul>
  <% something = @profile.last_update
  something.each do |a| %>
    <li><%= a %></li>
  <% end %>
  </ul>
</div>
